{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <header class="text-center mb-4">
        <h1>Welcome back, {{ user.username }}!</h1>
    </header>

    <!-- Image for guests or motivational picture -->
    <div class="text-center">
        <img src="/static/images/anya-lifting.jpg" alt="Anya Forger Lifting" class="welcome-img">
    </div>

    <div class="row">
        <!-- Cards -->
        <!-- Total Workouts Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Workouts</h5>
                    <p class="card-text">{{ user.workouts | length }}</p>
                </div>
            </div>
        </div>

        <!-- Total Volume Lifted Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Volume Lifted</h5>
                    <p class="card-text">x lbs</p> <!-- Dynamic content -->
                </div>
            </div>
        </div>

        <!-- Favorite Exercise Card -->
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Favorite Exercise</h5>
                    <p class="card-text">{{ user.favorite_exercise }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}