{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Workouts</h2>
    <div class="mb-3">
        <ul id="workout-list">
            {% if workouts|length == 0 %}
            <p>Create your first workout
                <a href="/workouts/builder"> here</a>
            </p>
            {% endif %}
            {% for workout in workouts %}
            <li>
                <a href="/workouts/{{ workout.id }}" class="workout-item">
                    {{ workout.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}